<p>Completed Successfully</p>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "../web/";
    }, 5000);
});
</script>
