<div class="row">
<p>Completed Successfully</p>
<p>You'll be redirected within 10 seconds or <a href="../web/">click here</a> to continue</p>
</div>
<script>
$(document).ready(function () {
    // Handler for .ready() called.
    window.setTimeout(function () {
        location.href = "../web/";
    }, 5000);
});
</script>
